<div class="readonly-data">
  <h2><%= t('view.analysis_requests.show_title', owner: @analysis_request.to_s) %></h2>

  <div class="row-fluid">
    <div class="span9">
      <p>
        <strong><%= AnalysisRequest.human_attribute_name 'depositary_enrolle' %>:</strong>
        <%= @analysis_request.depositary_enrolle %>
      </p>
      <p>
        <strong><%= AnalysisRequest.human_attribute_name 'product_code' %>:</strong>
        <%= @analysis_request.product %>
      </p>
      <p>
        <strong><%= AnalysisRequest.human_attribute_name 'harvest' %>:</strong>
        <%= @analysis_request.harvest %>
      </p>
      <p>
        <strong><%= AnalysisRequest.human_attribute_name 'variety_code' %>:</strong>
        <%= @analysis_request.variety %>
      </p>
      <p>
        <strong><%= AnalysisRequest.human_attribute_name 'quantity' %>:</strong>
        <%= @analysis_request.quantity %> L
      </p>
      <p>
        <strong><%= AnalysisRequest.human_attribute_name 'destiny_code' %>:</strong>
        <%= @analysis_request.destinies.map(&:to_s).join(' - ' ) %>
      </p>
      <p>
        <strong><%= AnalysisRequest.human_attribute_name 'generated_at' %>:</strong>
        <%= l @analysis_request.generated_at, format: :detailed %>
      </p>
    </div>
    <div class="span3">
      <%= link_to(
        t('view.analysis_requests.download_cardboard'),
        download_cardboard_analysis_request_path(@analysis_request),
        class: 'btn btn-success', target: '_blank'
      ) %> |
      <%= link_to(
        t('view.analysis_requests.download_form'),
        download_form_analysis_request_path(@analysis_request),
        class: 'btn btn-success', target: '_blank'
      ) %>
    </div>
  </div>

  <p>
    <strong><%= AnalysisRequest.human_attribute_name 'source_analysis' %>:</strong>
    <%= content_tag(
      :div, simple_format(@analysis_request.source_analysis), class: 'well'
    ) %>
  </p>

  <p>
    <strong><%= AnalysisRequest.human_attribute_name 'observations' %>:</strong>
    <%= content_tag(
      :div, simple_format(@analysis_request.observations), class: 'well'
    ) %>
  </p>

</div>
<div class="form-actions">
  <% unless @analysis_request.deleted? %>
    <%= link_to t('label.edit'), edit_analysis_request_path(@analysis_request) %> |
  <% end %>
  <%= link_to t('label.list'), analysis_requests_path %>
</div>
