<div class="readonly-data">
  <h2><%= @analysis_request %></h2>

  <p>
    <strong><%= AnalysisRequest.human_attribute_name 'enrolle' %></strong>:
    <%= @analysis_request.enrolle %>
  </p>
  <p>
    <strong><%= AnalysisRequest.human_attribute_name 'product' %></strong>:
    <%= @analysis_request.product %>
  </p>
  <p>
    <strong><%= AnalysisRequest.human_attribute_name 'variety' %></strong>:
    <%= @analysis_request.variety %>
  </p>
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_analysis_request_path(@analysis_request) if can? :update, @analysis_request %> |
  <%= link_to t('label.list'), analysis_requests_path %>
</div>
